<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <section>
                 <!-- navigation area -->
        <nav>
                <!-- logo area-->
            <a href="#" class="logo">RANSAP GRP</a>
            <!--Menu bar items-->
            <ul class="nav-area">
                <li><a href="#" class="active">home</a></li>
                <li><a href="#">skills</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">portfolio</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </nav>
        <!--text area-->
        <div class="text-container">
            <p>Hello</p>
            <p>I am RANSFORD</p>
            <p> I am a Machine Learning Engineer,Web Designer and <br> a Graphic Designer</p>
            <button class="hire-btn">Hire Me</button>
            <button class="down-cv">Download My CV</button>
        </div>
        <!----------------model-------------->
        <img src="images/model.jpg" alt="model" class="model">
    </section>
    <main>
            <section>
                <center>
                    {% for names in name %}
                    <div class="abt-div">
                        <h1>{{ names.name }}</h1>
                        <p>{{names.about}}</p>
                    </div>
                    {% endfor %}
                </center>
               
            </section>
            <aside>
                xup yaw
            </aside>
    </main>
    <footer>

    </footer>
    
</body>
</html>